
	* {
		box-sizing: border-box;
	}
	
	/* MOBILE NAV */

	.mobile-nav {
	    position: absolute;
	    bottom: 0; left: 0; right: 0;
	    height: 60px;
	    line-height: 60px;
	    color: white;
	    text-align: center;
	}
	
	.mobile-nav ul {
		padding: 0 !important;
	}

	.mobile-nav li {
	    display: block;
	    width: 50%;
	    float: left;
	}
	
	.mobile-nav a:hover {
		text-decoration: none;
	}

	.mobile-nav li:first-child {
	    border-right: 1px solid lightgray;
	}

	.mobile-nav li.active {
	    border-top: 3px solid gray;
	}
	
	.nav-padding-placeholder {
		height: 60px;
	}

	/* PAGES */

	.page {
		position: absolute;
    	top: 0; bottom: 0; right: 0; left: 0;
    	overflow-x: hidden;
    	overflow-y: scroll;
    	-webkit-overflow-scrolling: touch;
		transition-duration: 0.5s;
	}

	.center {
	    -moz-transform: translate3d(0%, 0, 0);
	    -webkit-transform: translate3d(0%, 0, 0);
	    transform: translate3d(0%, 0, 0);
	}
	
	.left {
	    -moz-transform: translate3d(-100%, 0, 0);
	    -webkit-transform: translate3d(-100%, 0, 0);
	    transform: translate3d(-100%, 0, 0);
		opacity: 0;
	}

	.right {
	    -moz-transform: translate3d(100%, 0, 0);
	    -webkit-transform: translate3d(100%, 0, 0);
	    transform: translate3d(100%, 0, 0);
		opacity: 0;
	}
	
	/* LABELS */
	
	label, .pointer {
		cursor: pointer;
	}
	
	.completed label {
		text-decoration: line-through;
		color: gray;
		opacity: 0.5;
	}
	
	/* TAGS */
	
	.project-tag {
		background-color: lightgreen;
		padding: 3px;
		opacity: 0.75;
		font-size: 0.8em;
	}
	
	.client-tag {
		background-color: lightblue;
		padding: 3px;
		opacity: 0.75;
		font-size: 0.8em;
	}
	
	/* TASKS */
	
	.filtered {
		opacity: 0.25;
	}

	.snoozed {
		color: lightblue;
	}
