<div class="hidden-xs nav-padding-placeholder"></div>

<h1>Tasks</h1>

<div class="text-center">
        <label class="btn btn-default">
            <input type="checkbox" ng-model="showCompleted"> completed tasks
        </label>
        <label class="btn btn-default">
            <input type="checkbox"> snoozed tasks
        </label>
</div><br>

<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-6">
                <form ng-submit="taskCtrl.create()">
                    <input ng-model="taskCtrl.newTask.name" type="text" placeholder="New task for #project of @client" class="form-control" required>
                </form>
            </div>
            <div class="col-md-6">
                <form>
                    <input ng-model="filterBy" type="search" placeholder="Filter by task, #project or @client" class="form-control">
                </form>
            </div>
        </div>
    </li>
</ul>

<ul class="list-group" ng-model="tasks" ui-sortable>
    <li ng-repeat="task in tasks | filter:filterBy" class="list-group-item" ng-hide="task.completed && !showCompleted" ng-class="{ completed: task.completed }">
        <div class="row">
            <div class="col-md-8">
                <input id="input_{{$index}}" ng-model="task.completed" type="checkbox">
                <label ng-dblclick="taskCtrl.edit(task)" for="input_{{$index}}" ng-bind-html="task.name|fancy"></label>
            </div>
            <div class="col-md-4">
                <span class="pull-right btn-group pointer">
                    <button ng-click="taskCtrl.edit(task)" type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> edit</button>
                    <button type="button" class="btn btn-default btn-xs" disabled><i class="fa fa-clock-o"></i> time</button>
                    <button type="button" class="btn btn-default btn-xs" disabled><i class="fa fa-history"></i> snooze</button>
                    <button ng-click="taskCtrl.remove(task)" type="button" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i> delete</button>
                </span>
            </div>
        </div>
    </li>
    	
</ul>

<div class="visible-xs nav-padding-placeholder"></div>
	
